<html lang="en">
	<head>
		<meta charset='utf-8'/>
		
		<title>Propozitii nostime</title>
		
		<link href="css/href.css" rel="stylesheet" />
		<link href="css/ingrid.css" rel="stylesheet" />
		<link href="css/demo-styles.css" rel="stylesheet" />
  		<meta name="viewport" content="width=device-width">
  
	</head>
	<body>
	<div class="grid grid--divide-3">
		<h2 class="grid_unit">Haiku</h2>
		<h2 class="grid_unit">Propozitie</h2>
		<div class="grid_unit">&nbsp</div>
		<div class="grid_unit">{{{test1}}}</div>
		<div class="grid_unit">{{{test2}}}</div>
		<div class="grid_unit">
<form>
<input type="button" onClick="history.go(0)" value="Reload">
</form>
		</div>
	<div>
	</body>
</html>