<html lang="en">
	<head>
		<meta charset='utf-8'/>
		
		<title>Propozitii nostime</title>
		
		<link href="css/ingrid.css" rel="stylesheet" />
		<link href="css/demo-styles.css" rel="stylesheet" />
  		<meta name="viewport" content="width=device-width">
  
	</head>
	<body>
	<div class="grid grid--divide-2">
		<div class="grid_unit">{{{test1}}}</div>
		<div class="grid_unit">{{{test2}}}</div>
		<div class="grid_unit">
			<a href="javascript:history.go(0)">Refresh</a>
		</div>
	<div>
	</body>
</html>