<html lang="en">
	<head>
		<meta charset='utf-8'/>
		
		<title>Propozitii nostime</title>
		
		<link href="css/ingrid.css" rel="stylesheet" />
		<link href="css/demo-styles.css" rel="stylesheet" />
  		<link href="css/href.css" rel="stylesheet" />
		
		<meta name="viewport" content="width=device-width">
		<script src="js/elm.js"></script> <!-- don't use the short xml tag form here -->
    
	</head>
	<body>


	<div class="wrapper">
	
		<div class="grid grid--divide-2">
			<h2 class="grid_unit">Haiku</h2>
			<h2 class="grid_unit">Propozitie</h2>
			<div class="grid_unit">{{{haiku}}}</div>
			<div class="grid_unit">{{{fiveWord}}}</div>
			<p />
			<div class="grid_unit">
				<form>
					<input type="button" onClick="location.href = '/reset';" value="Reset rhyme">
				</form>
			</div>
			<div class="grid_unit">
				<form>
					<input type="button" onClick="history.go(0)" value="Get new phrases">
				</form>
			</div>
			<p />
			<div id="elmId" class="grid_unit">
			</div>
		</div>
	</div>
	
	<script type="text/javascript">
	    var node = document.getElementById('elmId');
	    var app = Elm.Main.embed(node);
	</script>
	
	<footer>
		<hr />
		<div>Code is available on <a href="https://github.com/fabian20ro/propozitii-nostime/">github</a>. 
		Built with <a href="https://travis-ci.org/fabian20ro/propozitii-nostime">TravisCI <img src="https://travis-ci.org/fabian20ro/propozitii-nostime.svg?branch=master" /></a>. 
		Jacoco code coverage report is available <a href="jacoco/">here</a>.</div>
		<div>Page generated at: {{now}}</div>
	</footer>
	</body>
</html>